*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.box{
	overflow: hidden;
}
.box .nav{
	width: 100%;
	height: 40px;
	background: #333;
	overflow: hidden;
}
.box .nav .left,.box .nav .right{
	float: left;
	line-height: 40px;
}
.box .nav .left li,.box .nav .right li{
	display: inline-block;
	padding-left: 10px;
}
.box .nav .left li{
	position: relative;
}
.box .nav .left li:before{
	content:"";
	width: 1px;
	height: 13px;
	background: #444;
	position: absolute;
	left: 2px;
	top: 15px;
}
.box .nav .left .first:before{
	content:"";
	width: 0;
	height: 0;
}
.box .nav .left li a,.box .nav .right li a{
	color: #b0b0b0;
	text-decoration: none;
	font-size: 14px;
}

.box .nav .left li a:hover,.box .nav .right li a:hover{
	color:#fff;
}
.box .nav .left{
	width: 953px;
	margin-left: 92px;
}
.box .nav2{
	height: 100px;
	width: 100%;
	position: relative;
}
.box .nav2 .logo{
	position: absolute;
	left: 69px;
	top: 20px;
}
.box .nav2 ul {
	margin-left: 285px;
}
.box .nav2 li{
	display: inline-block;
	padding-left: 20px;
	line-height: 100px;
}
.box .nav2 li a{
	text-decoration: none;
	color: #333;
}
.box .nav2 li a:hover{
	color: #ff6700;
}
.box .banner{
	position: relative;
	width: 1226px;
	height: 460px;
	margin: 0 auto;
}
.box .banner img{
	margin-left: 8px;
}
.box .banner ul li{
	position: absolute;
	z-index: 0;
	display: none;
}
.box .banner ul .first{
	display: block;
}
.box .side-nav{
	position: absolute;
	width: 234px;
	height: 460px;
	background: rgba(0,0,0,0.4);
	top: 140px;
	left: 71px;
}
.box .side-nav ul li{
	width: 234px;
	height: 42px;
	line-height: 42px;
}
.box .side-nav ul .first{
	margin-top: 20px;
}
.box .side-nav ul li:hover{
	background: #ff6700;
}
.box .side-nav ul li a{
	margin-left: 30px;
	text-decoration: none;
	color:#fff;
	font-size: 14px;
}
.box .con{
	width: 1226px;
	margin: 14px 0 0 70px;
}
.box .con table{
	background: #5f5750;
}
.box .con table tr td{
	width: 76px;
	height: 80px;
	line-height: 20px;
	text-align: center;
	color: #b0b0b0;
	font-size: 13px;
}
.box .con table tr td p{
	cursor: pointer;
}
.box .con table tr td:hover p{
	color: #fff;
}
.box .con{
	overflow: hidden;
}
.box .con .img,.box .con .tab{
	float: left;
}
.box .con .img img{
	width: 317px;
	height: 166px;
	margin-left: 13px;
}
.box .lbt{
	width: 1226px;
	margin-top: 40px;
	overflow: hidden;
	margin-left: 70px;
	transition: 1s;
	position: absolute;
}
.box .fu{
	height: 430px;
}
.box .lbt #oc {
	margin: 20px 0 0 0;
}
.box .lbt .mes{
	width: 234px;
	height: 300px;
	background: #fafafa;
	float: left;
	margin-left: 14px;
	margin-top: 20px;
}
.box .le{
	left: 1500px;
}
.box .lbt .mes img{
	width: 160px;
	height: 160px;
	margin-left: 36px;
	margin-top: 40px;
}
.box .lbt .mes p{
	font-size: 14px;
	text-align: center;
}
.box .lbt .mes .j{
	color: #b0b0b0;
	margin-top: 7px;
	font-size: 13px;
}
.box .lbt .mes .jg{
	margin-top: 17px;
	color: #ff6700;
}
.box .bottom{
	background: #f5f5f5;
}
.box .bottom .so{
	overflow: hidden;
	width: 1230px;
	margin: 0 auto;
}
.box .bottom h2{
	display: inline-block;
	margin-top: 75px;
	margin-left: 71px;
}
.box .bottom .left,.box .bottom .right{
	margin-top: 20px;
}
.box .bottom .left img{
	transition: 0.2s;
	width: 234px;
	height: 614px;
}
.box .bottom .left img:hover{
	transform:translateY(-2px);
	box-shadow: 0px 0px 15px rgba(100,100,100,0.5); 
}
.box .bottom .so .left,.box .bottom .so .right{
	float: left;
}
.box .bottom .right img{
	width: 150px;
	height: 150px;
}
.box .bottom .right{
	overflow: hidden;
	width: 981px;
	margin-left: 15px;
}
.box .bottom .right .jd{
	position: relative;
	background: #fff;
	float: left;
	width: 230px;
	height: 300px;
	margin-left: 15px;
	margin-bottom: 15px;
	transition: 0.2s;
}
.box .bottom .right .jd img{
	width: 150px;
	height: 150px;
	margin: 40px 0 0 40px;
}
.box .bottom .right .jd:hover{
	transform:translateY(-2px);
	box-shadow: 0px 0px 15px rgba(100,100,100,0.5); 
}
.box .bottom .right .jd:hover .mes{
	bottom: 0px;

}
.box .bottom .right .jd p{
	text-align: center;
}
.box .bottom .right .jd .name{
	font-size: 13px;
}
.box .bottom .right .jd .pa{
	margin-top: 5px;
	font-size: 13px;
	color: #b0b0b0;
}
.box .bottom .right .jd .jg{
	margin-top: 15px;
	font-size: 14px;
	color: #ff6700;
}
.box .bottom .right .jd .mes{
	transition: 0.2s;
	width: 100%;
	height: 75px;
	background: #ff6700;
	position: absolute;
	bottom: -90px;
}
.box .bottom .right .jd .mes .pj{
	padding-top: 5px;
	width: 166px;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
}
.box .bottom .right .jd .mes .lz{
	padding-top: 10px;
	width: 166px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
	color: #b0b0b0;
}
.box .bottom .right #gd{
	background: #f5f5f5;
}
.box .bottom .right #gd:hover{
	transform:translateY(0px);
	box-shadow: 0px 0px 0px rgba(0,0,0,0); 
}
.box .bottom .right #gd .a,.box .bottom .right #gd .b{
	height: 142px;
	background: #fff;
	transition: 0.2s;
}
.box .bottom .right #gd div:hover{
	transform:translateY(-2px);
	box-shadow: 0px 0px 15px rgba(100,100,100,0.5); 
}
.box .bottom .right #gd .a p,.box .bottom .right #gd .b p{
	text-align: left;
	margin-left: 30px;
}
.box .bottom .right #gd .a .name{
	padding-top: 40px;
}
.box .bottom .right #gd .a a{
	color: #000;
	font-size: 14px;
}
.box .bottom .right #gd .a .jg2{
	padding-top: 12px;
	font-size: 13px;
	color:#ff6700;
}
.box .bottom .right #gd .b{
	margin-top: 15px;
}
.box .bottom .right #gd .b .gd a{
	color: #000;
	font-size: 16px;
}
.box .bottom .right #gd .b .rm a{
	color: gray;
	font-size: 13px;
}
.box .bottom .right #gd .b .gd{
	color: #000;
	padding-top: 40px;
}
.box .bottom .right #gd .b .rm{
	padding-top: 2px;
}
.box .bottom .right #gd .a a,.box .bottom .right #gd .b a{
	text-decoration: none;
}